# Binaries
**/bin/
!vendor/bin
!pbe/vendor/mono/bin
!pbe/vendor/assimp/bin
!pbe/vendor/WinPixEventRuntime/bin
!pbe/vendor/PhysX/bin
!pbe/vendor/OpenAL/bin
bin-int/
obj/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
